/* Body Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CustomGilroyFont";
    src: url("../fonts/Gilroy-Medium.eot");
    src: url("../fonts/Gilroy-Medium.woff") format("woff"),
        url("../fonts/Gilroy-Medium.otf") format("opentype");
}

body {
    font-family: 'CustomGilroyFont', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #141414;
}

.container {
    position: relative;
    width: 100vw;
    border: 2px solid rgb(7, 173, 48);
    height: 500vh;
}

.container .sub-container {
    width: 100vw;
    border: 1px solid rgb(149, 159, 7);
    height: 450vh;
}

.container .sub-container .hero-section {
    width: 100vw;
    border: 1px solid rgb(170, 0, 255);
    height: fit-content;
    position: relative;
}

.container .sub-container .hero-background {
    width: 80%;
    height: 55%;
    background-image: url('../img/other_assets/Hero_Section_Background1.svg');
    position: absolute;
    left: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

/* Navbar Styling */
.navbar_cont {
    background-color: transparent;
}

.navbar {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #141414;
    z-index: 100;
}

.nav-links a {
    color: #141414;
}


/* Navbar Menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 15px;
    align-items: center;
}

.menu_cont .menu li a {
    text-decoration: none;
}

.menu_cont .menu li {
    list-style: none;
}

.menu_cont .menu li:hover {
    text-decoration: underline;
    color: #0065FE;
    font-weight: 600;
    cursor: pointer;
}

.menu_cont .menu li {
    padding: 5px 14px;
}

.menu_cont .menu section {
    width: 50vh;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

.menu_cont .menu li:nth-child(1) a {
    color: #0065FE;
}

.menu_cont .menu li:nth-child(2) a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.menu_cont .menu .buttons p {
    color: #0065FE;
}
.menu_cont .menu .buttons p:hover {
    color: #05080c;
    text-decoration: underline;
    cursor: pointer;
}
.menu_cont .menu .buttons button,
.header span span.button button {
    width: 150px;
    padding: 12px 24px;
    border-radius: 100px;
    color: white;
    border: none;
    background: #0065FE;
}

.menu_cont .menu .buttons button:hover,
.header span span.button button:hover{
    background-color: #1b1b1be2;
    cursor: pointer;
}

/* Navbar Responsiveness */

/* Hamburger checker */
input[type=checkbox] {
    display: none;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* Adding Responsiveness */

@media (max-width: 1118px) {
    .menu_cont .menu {
        display: none;
        position: absolute;
        background-color: rgb(203, 60, 60);
        right: 0;
        left: 0;
        text-align: center;
        padding: 20px 0;
        z-index: 100;
    }

    .menu_cont .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu_cont .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu_cont .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .menu_cont .menu .buttons{
        padding: 8px 0px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 10px;
    }
}
.container .sub-container .hero-section .header{
    width: 80%;
    font-size: 48px;
    font-family: 'CustomGilroyFont', Arial;
    margin: 30px auto;
    text-align: center;
    line-height: 90px;
    font-weight: bold;
    height: fit-content;
    position: relative;
}

.container .sub-container .hero-section .header span h1 span.line_text {
    display:inline-block ;
    vertical-align: middle;

}
.container .sub-container .hero-section .header span h1 span b{
    color:#0065FE;
}

.container .sub-container .hero-section .header span p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin: 15px auto;
}

.container .sub-container .hero-section .header span span.button a{
    padding-left: 40px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #0065FE;
}
.container .sub-container .hero-section .header span span.button a:hover {
    color: #141414;
    text-decoration: underline;
}
.container .sub-container .hero-section .header figure{
    width: 100%;
    height: 40%;
}
.container .sub-container .hero-section figure img{
    width: 100%;
}

@media only screen and (max-width: 1076px) and (min-width: 800px) {
    .container .sub-container .hero-section .header {
            width: 85%;
            font-size: 42px;
        }
    
        .container .sub-container .hero-section .header span p {
            width: 90%;
        }
    
        .container .sub-container .hero-section .header figure {
            width: 100%;
            height: 40%;
        }
    
        .container .sub-container .hero-section figure img {
            width: 100%;
            height: 20rem;
        }
}

@media only screen and (max-width: 799px) and (min-width: 550px) {
    .container .sub-container .hero-section .header {
        width: 85%;
        font-size: 31px;
        line-height: 45px;
    }

    .container .sub-container .hero-background {
        width: 100%;
        height: 75%;
        z-index: 10;
    }

    .container .sub-container .hero-section .header span p {
        width: 90%;
    }

    .container .sub-container .hero-section figure img {
        min-width: inherit;
        min-height: 18rem;
    }
}

@media only screen and (max-width: 550px) and (min-width: 400px) {
    .container .sub-container .hero-section .header {
        width: 80%;
        font-size: 28px;
        line-height: 45px;
    }

    .container .sub-container .hero-background {
        width: 100%;
        height: 75%;
        z-index: 10;
    }

    .container .sub-container .hero-section .header span p {
        width: 95%;
    }

    .container .sub-container .hero-section figure img {
        display: none;
    }
}

@media only screen and (max-width: 399px) and (min-width: 200px) {
    .container .sub-container .hero-section .header {
        width: 100%;
        font-size: 24px;
        line-height: 45px;
    }

    .container .sub-container .hero-background {
        width: 85%;
        height: 75%;
    }

    .container .sub-container .hero-section .header span p {
        width: 80%;
        font-size: 15px;
        line-height: 25px;
    }

    .container .sub-container .hero-section figure img {
        display: none;
    }
}